<center style = "background-color: blue;"><h1>Advantages of Python is following:</h1></center>
<h3>1. Presence of third party module.<br>
2. Productivity and Speed.<br>
    3. User friendly datastrucure Etc...</h3>
<h2>{%for i in Students%}
    {{i}}<br>
    {%endfor%}
</h2>


<a href = "http://127.0.0.1:8000/admin/">admin</a><br>
<a href = "http://127.0.0.1:8000/">name</a><br>
<a href = "http://127.0.0.1:8000/Places/">Places</a><br>
<a href = "http://127.0.0.1:8000/Advantages/">Advantages</a><br>
<a href = "http://127.0.0.1:8000/Disadvantages/">Disadvantages</a><br>
<a href = "http://127.0.0.1:8000/courses/">Courses</a><br>
<a href = "http://127.0.0.1:8000/intro/">intro</a><br>
<a href = "http://127.0.0.1:8000/motivation/">motivation</a><br>
<a href = "http://127.0.0.1:8000/index/">index</a><br>
<a href = "http://127.0.0.1:8000/Students/">Students</a><br>
<a href = "http://127.0.0.1:8000/College/">College</a><br>
<a href = "{% url 'sub' %}">Subject</a><br>
<a href = "http://127.0.0.1:8000/Freind/">Friend</a><br>