<marquee direction ="right"style = "background-color: blue;"><h1>Disadvantages of pythpon is following: </h1></marquee>
<h2>1.Python is slower than C,C++.<br>
    2.It has runtime Errors.<br>
    3.Python has a database access.<br>
    4.Not good for mobile development, Etc...
</h2>

<a href = "http://127.0.0.1:8000/admin/">admin</a><br>
<a href = "http://127.0.0.1:8000/">name</a><br>
<a href = "http://127.0.0.1:8000/Places/">Places</a><br>
<a href = "http://127.0.0.1:8000/Advantages/">Advantages</a><br>
<a href = "http://127.0.0.1:8000/courses/">Courses</a><br>
<a href = "http://127.0.0.1:8000/intro/">intro</a><br>
<a href = "http://127.0.0.1:8000/motivation/">motivation</a><br>
<a href = "http://127.0.0.1:8000/index/">index</a><br>
<a href = "http://127.0.0.1:8000/Students/">Students</a><br>
<a href = "http://127.0.0.1:8000/College/">College</a><br>
<a href = "{% url 'sub' %}">Subject</a><br>
<a href = "http://127.0.0.1:8000/Freind/">Friend</a><br>